@media (max-width: 1500px) {
  .about-big__wrap {
    padding: 30px;
  }

  .about-big__text {
    margin-right: 36px;
  }

  .about-column__small {
    padding: 135px 56px 40px 94px;
    background-position: 17% 5%;
    background-size: 114px 99px;
  }

  .questions-list {
    --offsets: 1;
  }

  .footer-content__text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (max-width: 1200px) {
  .logo {
    max-width: 150px;
    min-height: 48px;
  }

  .header {
    padding: 26px 0;
  }

  .header-nav {
    margin-right: 107px;
  }

  .nav__list {
    -webkit-column-gap: 66px;
    -moz-column-gap: 66px;
    column-gap: 66px;
  }

  .hero {
    padding: 40px 0 19px;
  }

  .hero-banner {
    padding-top: 160px;
    padding-right: 80px;
    padding-bottom: 66px;
    padding-left: 77px;
    min-height: 668px;
  }

  .hero__title {
    margin-bottom: 16px;
    line-height: clamp(24px, calc((var(--font-size-title) * 1.2)), 85px);
  }

  .hero__descr {
    margin-bottom: 60px;
  }

  .about {
    padding: 19px 0 29px;
  }

  .about__text {
    margin-bottom: 59px;
  }

  .about-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .about-big {
    min-height: 640px;
    background-image: -webkit-image-set(
      url("../image/pictures/about-bg-small.webp"),
      url("../image/pictures/about-bg-small.avif"),
      url("../image/pictures/about-bg-small.jpg")
    );
    background-image: image-set(
      url("../image/pictures/about-bg-small.webp"),
      url("../image/pictures/about-bg-small.avif"),
      url("../image/pictures/about-bg-small.jpg")
    );
  }

  .about-big__wrap {
    padding: 50px;
  }

  .about-big__text {
    margin-right: 159px;
  }

  .about-btn {
    padding: 18px 35px;
  }

  .about-column__small {
    padding: 69px 116px 40px 316px;
    max-width: 1170px;
    background-position: left 76px center;
    background-size: 190px 165px;
  }

  .stages__text {
    margin-bottom: 26px;
    max-width: 437px;
  }

  .stages-content::after {
    margin-top: 10px;
    max-width: 437px;
    background-image: -webkit-image-set(
      url("../image/pictures/stages-img-small.webp"),
      url("../image/pictures/stages-img-small.avif"),
      url("../image/pictures/stages-img-small.jpg")
    );
    background-image: image-set(
      url("../image/pictures/stages-img-small.webp"),
      url("../image/pictures/stages-img-small.avif"),
      url("../image/pictures/stages-img-small.jpg")
    );
  }

  .questions {
    padding: 29px 0 100px;
  }

  .footer__logo {
    max-width: 224px;
    min-height: 72px;
  }

  .questions {
    padding: 29px 0 82px;
  }

  .questions-list {
    --offsets: 0;
  }

  .form-submit__btn {
    padding: 19px 37px;
  }

  .footer-content__text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (max-width: 920px) {
  .header {
    padding: 18px 0;
    min-height: 69px;
  }

  .header-nav {
    margin-right: 43px;
  }

  .logo {
    max-width: 110px;
    min-height: 35px;
  }

  .nav__list {
    -webkit-column-gap: 41px;
    -moz-column-gap: 41px;
    column-gap: 41px;
  }

  .nav__link {
    font-weight: 700;
    font-size: 16px;
  }

  .hero {
    padding: 39px 0 19px;
  }

  .hero-banner {
    padding-top: 157px;
    padding-right: 43px;
    padding-bottom: 66px;
    padding-left: 40px;
    min-height: 662px;
    border-radius: 24px;
  }

  .hero__title {
    font-weight: 800;
    line-height: clamp(24px, calc((var(--font-size-title) * 1.4)), 85px);
    letter-spacing: 3.6px;
  }

  .hero__descr {
    margin-bottom: 62px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .about {
    padding: 18px 0 29px;
  }

  .about__text {
    margin-bottom: 54px;
  }

  .about-big {
    border-radius: 24px;
    min-height: 650px;
  }

  .about-big__wrap {
    padding: 40px;
    padding-top: 35px;
    border-radius: 24px;
  }

  .about-big__text {
    margin-right: 40px;
    margin-bottom: -7px;
    line-height: 32px;
  }

  .about-btn {
    margin-bottom: -5px;
    padding: 17px 35px;
  }

  .about-column__small {
    padding: 37px 24px 32px 169px;
    background-position: 39px 70px;
    background-size: 114px 99px;
    min-height: 235px;
  }

  .about-column__title {
    margin-bottom: 9px;
  }

  .stages-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .stages-content::after {
    margin: 0;
    max-width: 820px;
    min-height: 284px;
    border-radius: 24px;
    background-image: -webkit-image-set(
      url("../image/pictures/stages-img-small.webp"),
      url("../image/pictures/stages-img-small.avif"),
      url("../image/pictures/stages-img-small.jpg")
    );
    background-image: image-set(
      url("../image/pictures/stages-img-small.webp"),
      url("../image/pictures/stages-img-small.avif"),
      url("../image/pictures/stages-img-small.jpg")
    );
  }

  .stages__text {
    margin-bottom: 26px;
    max-width: 820px;
  }

  .questions__item {
    padding: 37px 39px 35px 39px;
  }

  .questions-title {
    margin-bottom: 30px;
  }

  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .footer__logo {
    margin-bottom: 16px;
    max-width: 224px;
    min-height: 72px;
  }

  .footer-social {
    margin-top: 0;
  }

  .form-content {
    margin-bottom: 43px;
  }

  .form-content__input {
    max-width: 541px;
  }

  .form-content__textarea {
    margin-bottom: 30px;
    max-width: 541px;
  }

  .nav__list--footer {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (max-width: 700px) {
  .header-nav {
    padding-top: calc(20px - 10 * ((100vw - 320px) / (700 - 320)));
    padding-bottom: calc(24px - 14 * ((100vw - 320px) / (700 - 320)));
    margin: 0;
    width: 447px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .form-submit__btn {
    margin-right: 10px;
  }
}

@media (max-width: 556px) {
  .header {
    padding: 18px 0;
  }

  .header-nav {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .nav__list {
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }

  .hero {
    padding: 17px 0;
  }

  .hero-banner {
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 24px;
    min-height: 308px;
    border-radius: 16px;
  }

  .hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero__title {
    margin-bottom: 8px;
    text-align: center;
    line-height: normal;
    letter-spacing: normal;
  }

  .hero__descr {
    margin-bottom: 33px;
    text-align: center;
    line-height: normal;
    letter-spacing: normal;
  }

  .hero__btn {
    padding: 14px 28px;
    border-radius: 8px;
    min-height: 41px;
    font-size: 12px;
  }

  .about {
    padding: 45px 0 26px;
  }

  .about__title {
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 400;
  }

  .about__text {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .about-inner {
    display: block;
  }

  .about-big {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 16px;
    min-height: 202px;
    overflow: visible;
    background-position: top;
  }

  .about-big__wrap {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    top: 208px;
    left: 0;
    padding: 0;
    background-color: transparent;
  }

  .about-big__text {
    margin: 0;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
  }

  .about-btn {
    padding: 11px 41px;
    min-height: 40px;
    font-size: 12px;
    border-radius: 8px;
    color: rgb(255, 153, 0);
    &:focus-visible {
      color: #fff;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      color: #fff;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  .about-column {
    padding-top: 232px;
    width: 100%;
  }

  .about-column__small--bg-1 {
    background-image: url("../image/svg/about-icon-1_small.svg");
  }
  .about-column__small--bg-2 {
    background-image: url("../image/svg/about-icon-2_small.svg");
  }

  .about-column__small {
    padding: 59px 0 1px;
    border: none;
    background-position: top left;
    background-size: 64px 49px;
  }

  .about-column__title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .about-column__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .stages {
    padding: 32px 0;
  }

  .stages__title {
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: 400;
  }

  .stages-content {
    gap: 16px;
  }

  .stages-content::after {
    min-height: 160px;
    border-radius: 16px;
  }

  .stages__subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.77778;
  }

  .stages__text {
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
  }

  .stages-btn__next {
    margin-right: 7px;
    padding: 11px 43px;
    min-height: 40px;
    font-size: 12px;
    border-radius: 8px;
  }

  .stages-btn__contract {
    padding: 12px 31px;
    min-height: 40px;
    font-size: 12px;
    border-radius: 8px;
  }

  .questions {
    padding: 28px 0 58px;
  }

  .questions-title {
    margin-bottom: 21px;
    font-size: 24px;
    font-weight: 400;
  }

  .questions__item {
    border: none;
    padding: 0;
  }

  .questions__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 6px;
  }

  .questions__text {
    font-size: 14px;
    font-weight: 400;
  }

  .footer-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;
  }

  .footer-form {
    width: 100%;
    &.footer-form::after {
      content: "";
      border-bottom: 1px solid #414141;
    }
  }

  .footer-form__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
  }

  .form-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
  }

  .form-content__input {
    padding: 14px 18px;
  }

  .form-content__textarea {
    padding: 14px 18px;
    margin-bottom: 26px;
  }

  .footer-form--state {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px;
  }

  .form-submit {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 13px;
  }

  .form-submit__btn {
    margin: 0;
    padding: 12px 20px;
    min-height: 37px;
    font-size: 12px;
    border-radius: 8px;
  }

  .footer-content__media {
    padding-top: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 8px;
  }

  .footer__logo {
    margin: 0;
    max-width: 131px;
    min-height: 42px;
  }

  .footer-social {
    gap: 17px;
  }

  .footer-social__icon {
    width: 40px;
    height: 40px;
  }
}
